h1{
    text-align: center;
    background-color: aqua;
    font-size: 80px;
}
img{
    height:250px;
    weight:400px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
.topic{
    text-align: center;
    background-color: bisque;
}
.f1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}